<div class="container pt-5">

    <h1> Edit "{{course.title}}"</h1>

    <form action="/admin/course/edit?_method=PUT" method="POST" id="projectSubmitForm" enctype="multipart/form-data">
        <!--Title INPUT-->
        <div class="form-group border border-light p-3">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en"
                        aria-selected="true">En</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro" role="tab" aria-controls="ro"
                        aria-selected="false">Ro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ru-tab" data-toggle="tab" href="#ru" role="tab" aria-controls="ru"
                        aria-selected="false">Ru</a>
                </li>
            </ul>
            <div class="tab-content pt-2">
                <div class="tab-pane fade show active" id="en" role="tabpanel" aria-labelledby="en-tab">
                    <label for="title-en">Course name</label>
                    <input value="{{langSpec course.title "en" res}}" name="titleEn" type="text" class="form-control"
                        id="title-en" placeholder="Course">
                </div>
                <div class="tab-pane fade" id="ro" role="tabpanel" aria-labelledby="ro-tab">
                    <label for="title-ro">Denumirea evenimentului</label>
                    <input value="{{langSpec course.title "ro" res}}" name="titleRo" type="text" class="form-control"
                        id="title-ro" placeholder="Curs">
                </div>
                <div class="tab-pane fade" id="ru" role="tabpanel" aria-labelledby="ru-tab">
                    <label for="title-ru">Название события</label>
                    <input value="{{langSpec course.title "ru" res}}" name="titleRu" type="text" class="form-control"
                        id="title-ru" placeholder="Курс">
                </div>
            </div>
        </div>
        <!--Short description INPUT-->
        <div class="form-group border border-light p-3">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="en-tab" data-toggle="tab" href="#en-tab-shortDescription" role="tab"
                        aria-controls="en" aria-selected="true">En</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ro-tab" data-toggle="tab" href="#ro-tab-shortDescription" role="tab"
                        aria-controls="ro" aria-selected="false">Ro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ru-tab" data-toggle="tab" href="#ru-tab-shortDescription" role="tab"
                        aria-controls="ru" aria-selected="false">Ru</a>
                </li>
            </ul>
            <div class="tab-content pt-2">
                <div class="tab-pane fade show active" id="en-tab-shortDescription" role="tabpanel"
                    aria-labelledby="en-tab">
                    <label for="title-en">Course short description</label>
                    <input value="{{langSpec course.shortDescription "en" res}}" name="shortDescriptionEn" type="text" class="form-control" id="title-en" placeholder="Event"
                        required>
                </div>
                <div class="tab-pane fade" id="ro-tab-shortDescription" role="tabpanel" aria-labelledby="ro-tab">
                    <label for="title-ro">Descriere scurtă a evenimentului</label>
                    <input value="{{langSpec course.shortDescription "ro" res}}" name="shortDescriptionRo" type="text" class="form-control" id="title-ro"
                        placeholder="Curs" required>
                </div>
                <div class="tab-pane fade" id="ru-tab-shortDescription" role="tabpanel" aria-labelledby="ru-tab">
                    <label for="title-ru">Краткое описание события</label>
                    <input value="{{langSpec course.shortDescription "ru" res}}" name="shortDescriptionRu" type="text" class="form-control" id="title-ru"
                        placeholder="Курс" required>
                </div>
            </div>
        </div>
        <!--Description INPUT-->
        <div class="form-group border border-light p-3">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="en-tab-description" data-toggle="tab" href="#en-description"
                        role="tab" aria-controls="en" aria-selected="true">En</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ro-tab-description" data-toggle="tab" href="#ro-description" role="tab"
                        aria-controls="ro" aria-selected="false">Ro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ru-tab-description" data-toggle="tab" href="#ru-description" role="tab"
                        aria-controls="ru" aria-selected="false">Ru</a>
                </li>
            </ul>
            <div class="tab-content pt-2">
                <div class="tab-pane fade show active" id="en-description" style="position:relative;" role="tabpanel"
                    aria-labelledby="en-tab-description">
                    <!-- Translator dropdown EN -->
                    <div style="position:absolute;top:10;right:10px;">
                        <a href="#" data-target="#translationDiv" data-toggle="collapse" class="">translate <i
                                class="fas fa-globe-europe"></i></a>
                        <div id="translationDiv" class="collapse" style="font-size: 1rem;
                    color: #212529;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: .25rem;position:absolute;
                    z-index:1000;
                    right:0;">
                            <a onclick="addTranslateToDescription('ro','en')" class="dropdown-item">From Romanian</a>
                            <a onclick="addTranslateToDescription('ru','en')" class="dropdown-item">From Russian</a>
                        </div>
                    </div>
                    <label>Detailed Description</label>
                    <!-- Create the editor container -->
                    <div id="editor-container-en"></div>
                    <textarea name="descriptionEn" style="display:none" id="hiddenArea-en"></textarea>
                </div>
                <div class="tab-pane fade" id="ro-description" style="position:relative;" role="tabpanel"
                    aria-labelledby="ro-tab-description">
                    <!-- Translator dropdown RO -->
                    <div style="position:absolute;top:10;right:10px;">
                        <a href="#" data-target="#translationDiv-ro" data-toggle="collapse" class="">translate <i
                                class="fas fa-globe-europe"></i></a>
                        <div id="translationDiv-ro" class="collapse" style="font-size: 1rem;
                    color: #212529;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: .25rem;position:absolute;
                    z-index:1000;
                    right:0;">
                            <a onclick="addTranslateToDescription('en','ro')" class="dropdown-item">From English</a>
                            <a onclick="addTranslateToDescription('ru','ro')" class="dropdown-item">From Russian</a>
                        </div>
                    </div>
                    <label>Detailed Description</label>
                    <!-- Create the editor container -->
                    <div id="editor-container-ro"></div>
                    <textarea name="descriptionRo" style="display:none" id="hiddenArea-ro"></textarea>
                </div>
                <div class="tab-pane fade" id="ru-description" style="position:relative;" role="tabpanel"
                    aria-labelledby="ru-tab-description">
                    <!-- Translator dropdown RU -->
                    <div style="position:absolute;top:10;right:10px;">
                        <a href="#" data-target="#translationDiv-ru" data-toggle="collapse" class="">translate <i
                                class="fas fa-globe-europe"></i></a>
                        <div id="translationDiv-ru" class="collapse" style="font-size: 1rem;
                    color: #212529;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: .25rem;position:absolute;
                    z-index:1000;
                    right:0;">
                            <a onclick="addTranslateToDescription('en','ru')" class="dropdown-item">From English</a>
                            <a onclick="addTranslateToDescription('ro','ru')" class="dropdown-item">From Romanian</a>
                        </div>
                    </div>
                    <label>Detailed Description</label>
                    <!-- Create the editor container -->
                    <div id="editor-container-ru"></div>
                    <textarea name="descriptionRu" style="display:none" id="hiddenArea-ru"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="thumbnail">Override Course thumbnail image</label>
            <input name="thumbnail" type="file" class="form-control-file" id="thumbnail">
        </div>
        <input type="text" name="id" value="{{course._id}}" style="display:none">
        <a href="/admin/courses" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>


</div>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="/js/translate.js">
</script>

<!-- Initialize Quill editor -->
<script>

    translate.engine = 'yandex';
    translate.key = 'trnsl.1.1.20190421T151403Z.c73e985599ec6adf.f313cfda0d0ec27636389428c8eed9deabd54636';

    const toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['link','blockquote', 'code-block'],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['image'],
        ['clean']                                         // remove formatting button
    ];

    var quillEn = new Quill('#editor-container-en', {
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Description',
        theme: 'snow'  // or 'bubble'
    });

    var quillRo = new Quill('#editor-container-ro', {
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Descriere',
        theme: 'snow'  // or 'bubble'
    });

    var quillRu = new Quill('#editor-container-ru', {
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Описание',
        theme: 'snow'  // or 'bubble'
    });

    const contentsEn = {{{ course.descriptionEn }}}
    quillEn.setContents(contentsEn.ops);

    const contentsRo = {{{ course.descriptionRo }}}
    quillRo.setContents(contentsRo.ops);

    const contentsRu = {{{ course.descriptionRu }}}
    quillRu.setContents(contentsRu.ops);

    $("#projectSubmitForm").on("submit", () => {
        $("#hiddenArea-en").val(JSON.stringify(quillEn.getContents()))
        $("#hiddenArea-ro").val(JSON.stringify(quillRo.getContents()))
        $("#hiddenArea-ru").val(JSON.stringify(quillRu.getContents()))
    });

    function addTranslateToDescription(from, to) {
        let ops = {};
        switch (from) {
            case 'en': {
                ops = quillEn.getContents().ops;
            } break;
            case 'ro': {
                ops = quillRo.getContents().ops;
            } break;
            case 'ru': {
                ops = quillRu.getContents().ops;
            } break;
        }

        ops.forEach((op, index) => {
            if (ops[index].insert != "↵" && !ops[index].insert.image) {
                translate(op.insert, { from: from, to: to }).then((a) => {
                    ops[index].insert = a;
                    if (index == ops.length - 1)
                        switch (to) {
                            case 'en': {
                                quillEn.setContents(ops);
                            } break;
                            case 'ro': {
                                quillRo.setContents(ops);
                            } break;
                            case 'ru': {
                                quillRu.setContents(ops);
                            } break;
                        }
                })
            }
        });
    }


</script>