<header id="scrolledNavbar">
	<nav class="navbar navbar-expand-md fixed-top">
		<a class="navbar-brand ml-3" href="/"><img src="/img/svg/tohateen-text-logo.svg" alt="logo"></a>
		<a class="navbar-toggler mr-1" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars closed"></i>
			<i class="fas fa-times opened"></i>
		</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-center">
				<li class="nav-item">
					<a class="nav-link px-0" href="/about-us">{{lang "About us" res}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link px-0" href="/courses">{{lang "Courses" res}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link px-0" href="/events">{{lang "Events" res}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link px-0" href="/news">{{lang "News" res}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link px-0" href="/contacts">{{lang "Contacts" res}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link px-0" href="https://sprijina.md/campaign/sustine-primul-hub-digital-dintr-o-localitate-rurala-din-republica-moldova-tohateen-hub/?fbclid=IwAR2bb1F_ZqUcCihPiDGb1bqpFQswaF2grlY_WI2GJL58u40PW23OPLY359U">{{lang "Donate" res}}</a>
				</li>
				<li class="nav-item ml-lg-5">
					<div class="btn-group">
						<a role="button" class="dropdown-toggle" data-toggle="dropdown" id="lang_select"
							aria-haspopup="true" aria-expanded="false">
							{{lang "Language" res}}: <img src="/img/icons/{{localization}}.png" alt="{{localization}}">
						</a>
						<div class="dropdown-menu dropdown-menu-right" style="min-width: 50px;" aria-labelledby="lang_select">
							<a class="dropdown-item" href="/setLang/en"><img src="/img/icons/en.png" alt="en">English</a>
							<a class="dropdown-item" href="/setLang/ro"><img src="/img/icons/ro.png" alt="ro">Romana</a>
							<a class="dropdown-item" href="/setLang/ru"><img src="/img/icons/ru.png" alt="ru">Русский</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>

</header>