<link href="/css/about_us.css" rel="stylesheet">

<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">{{lang "Apply for volunteering" res}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="RegisterForm" class="modal-body mx-3">
				<div class="md-form mb-5">
					<i class="fas fa-user prefix grey-text"></i>
					<input name="name" type="text" id="registerForm-name" class="form-control validate" required>
					<label for="registerForm-name">{{lang "Your name" res}}</label>
				</div>
				<div class="md-form mb-5">
					<i class="fas fa-calendar-day prefix grey-text"></i>
					<input name="birthDate" type="date" id="registerForm-birthDate" class="form-control validate"
						required>
					<label for="registerForm-birthDate">{{lang "Birth date" res}}</label>
				</div>
				<div class="md-form mb-5">
					<i class="fas fa-envelope prefix grey-text"></i>
					<input name="email" type="email" id="registerForm-email" class="form-control validate" required>
					<label data-error="{{lang "please use name@domain" res}}"
						for="registerForm-email">{{lang "Contact email" res}}</label>
				</div>
				<div class="md-form mb-5">
					<i class="fas fa-phone prefix grey-text"></i>
					<input name="phone" type="tel" name="number" id="registerForm-phone" class="form-control validate"
						required>
					<label for="registerForm-phone">{{lang "Contact phone number" res}}</label>
				</div>
				<div class="md-form">
					<i class="fas fa-user-edit prefix grey-text"></i>
					<textarea type="text" name="description" id="form8" class="md-textarea form-control" rows="4"></textarea>
					<label data-error="wrong" data-success="right"
						for="form8">{{lang "Short description about yourself" res}}</label>
				</div>

			</form>
			<div class="modal-footer d-flex justify-content-center">
				<button id="RegisterFormSubmit" form="RegisterForm" type="submit"
					class="btn btn-primary">{{lang "Sign up" res}}</button>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">
		<div class="d-flex">
			<h1 class="top-header text-center">{{lang "About us" res}}</h1>
		</div>

		<div class="row about pb-3 pt-5">
			<div class="col-md-4 mb-4 mb-md-0 text-center">
				<h2 class="section-header">{{lang "WHO WE ARE" res}}</h2>
				<h4>{{lang "Tohateen Hub este un spațiu de resurse, creat în com. Tohatin, mun. Chişinău, de către A. O. Centrul de Informare și Resurse PRO BONO în colaborare cu Consiliul Național al Tineretului din Moldova, Primăria municipiului Chișinău și Primăria comunei Tohatin" res}}.
				</h4>
			</div>
			<div class="col-md-4 mb-4 mb-md-0 text-center">
				<h2 class="section-header">{{lang "WHAT WE DO" res}}</h2>
				<h4>{{lang "În perioada de activitate, au fost elaborate mai multe proiecte şi au fost deschise cluburi interactive pentru toate vârstele. Pe lângă toate acestea, se plănuiește organizarea și găzduirea altor activități. Suntem de părere că tinerii reprezintă viitorul, astfel, depunem efort pentru a-i mobiliza şi a le oferi mai multe oportunităţi, promovând voluntariatul" res}}.
				</h4>
			</div>
			<div class="col-md-4 mb-4 mb-md-0 text-center">
				<h2 class="section-header">{{lang "OUR GOALS" res}}</h2>
				<h4>{{lang "Avem scopul de a ajuta tinerii să se dezvolte personal și să contribuie la dezvoltarea comunității din care fac parte. Un alt scop al acestei inițiative este de a dezvolta comunități în afara capitalei și de a oferi tinerilor oportunități de diversificare a activităților extra-curriculare și extra-școlare, deoarece majoritatea spațiilor de resurse sunt concentrate în capitală" res}}.
				</h4>
			</div>
		</div>

		<hr class="mx-1 mx-md-4">

		<h2 class="section-header text-center mt-5">{{lang "OUR TEAM" res}}</h2>
		<div class="row team text-center mb-5 mt-5 mx-md-4">
			<div class="member-img col-6 col-sm-3 mb-3 mb-sm-0">
				<img src="/img/admin.jpg">
			</div>
			<div class="member-info back1 col-6 col-sm-3 mb-3 mb-sm-0 d-flex align-items-center">
				<div>
					<h3>{{lang "Administrator" res}}</h3>
					<h2>Nicoleta Damian</h2>
					<h4>Aici ceva descriere foarte scurta despre persoana data lorem ipsum dolor sit amet, consectetur
						adipisicing elit, sed do eiusmod tempor incididunt.</h4>
					<ul class="my-0">
						<a href="https://www.facebook.com/nicoleta.damian.alexandru" class="p-2 fa-lg fb-ic">
							<i class="fab fa-facebook-f blue-text"> </i>
						</a>
						<a href="#" class="p-2 fa-lg ins-ic">
							<i class="fab fa-instagram blue-text"> </i>
						</a>
					</ul>
				</div>
			</div>
			<div class="member-img col-6 col-sm-3 mb-3 mb-sm-0">
				<img src="/img/admin2.jpg">
			</div>
			<div class="member-info back2 col-6 col-sm-3 mb-3 mb-sm-0 d-flex align-items-center">
				<div>
					<h3>{{lang "Manager" res}}</h3>
					<h2>Igor Ciurea</h2>
					<h4>Aici ceva descriere foarte scurta despre persoana data lorem ipsum dolor sit amet, consectetur
						adipisicing elit, sed do eiusmod tempor incididunt.</h4>
					<ul class="my-0">
						<a href="https://www.facebook.com/ciurea" class="p-2 fa-lg fb-ic">
							<i class="fab fa-facebook-f blue-text"> </i>
						</a>
						<a href="https://www.instagram.com/igorciurea/?fbclid=IwAR3EcxrlRRQmysO8fkaomyYMcGP82oWFaxsQLAuwH_3wXX135q2qM_eeltY"
							class="p-2 fa-lg ins-ic">
							<i class="fab fa-instagram blue-text"> </i>
						</a>
					</ul>
				</div>
			</div>
		</div>

		<h2 class="section-header text-center mt-5 pt-4">{{lang "VOLUNTEERS" res}}</h2>
		<div class="row volunteers justify-content-center mb-5 mt-5 mx-md-4">

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/Vitalina-MădălinaGaidenic.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Vitalina-Mădălina Gaidenic</h2>
				<h4>{{lang "Mă numesc Vitalina și am 15 ani. Am venit la acest club ca să acumulez mai multe experiențe și să cunosc persoane noi.Îmi place mult sa fiu tot timpul ocupata cu ceva, să comunic și să am diferite activități interesante. Sunt sigură că aici voi reuși să mă dezvolt și să obțin multe cunoștințe" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/AndreeaMiron.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Andreea Miron</h2>
				<h4>{{lang "Ma numesc Andreea și am 16 ani. Învăț la Liceul Teoretic 'Ginta Latină' din capitală. Îmi place să fac cunoștință cu multe persoane noi. Recent, am absolvit un curs de public speaking și asta m-a motivat sa fac parte din acest grup de voluntari. Vreau sa fac o schimbare în localitatea unde locuiesc pentru a oferi prosperitate țării în care m-am născut" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/IrinaDavid.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Irina David</h2>
				<h4>{{lang "Irina David și-a început activitatea de voluntar Tohateen HUB din luna Iunie 2018. Datorită participarii active și entuziasmului manifestat, Irina a reușit să câștige experiență în organizare de evenimente și management de echipă" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/OctavianMacovei.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Octavian Macovei</h2>
				<h4>{{lang "Mă numesc Macovei Octavian am 15 ani și sunt elev în clasa a 9a. Hobby-urile mele sunt navigatul pe internet, șahul și lectura. Eu am devenit voluntar pentru ca să le pot oferi tinerilor din localitatea noastră șansa de a-și descoperi talentele ascunse" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/IonDavid.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Ion David</h2>
				<h4>{{lang "Mă numesc Ion, învăț in Centrul de Excelență în Energetică și Electronică, am decis să fiu voluntar, ca să pot da o mână de ajutor planetei noastre. Sunt curajos, atent, onest. Îmi place să ajut oamenii învârstă când văd ca au nevoie.Nu sunt descurajat și din acest motiv voi merge înainte, spre un viitor mai bun" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/NicuTiulenev.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Nicu Tiulenev</h2>
				<h4>{{lang "Mă numesc Tiulenev Nicu și sunt elev la gimnaziul nr.74 'Viorel Găină', clasa a IX-a. Îmi place să ajut oamenii, iar să fiu voluntar la TohaTEEN HUB, îmi aduce plăcere și mândrie. Ceea ce m-a adus aici, este faptul că ceilalți membri ai organizației, oferă o atmosferă plăcută și primitoare pentru oricine" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/MihaelaZgardan.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Mihaela Zgardan</h2>
				<h4>{{lang "Mă numesc Mihaela. Sunt elevă la Liceul Teoretic 'Mircea Eliade'. Sunt o persoană optimistă şi plină de energie.Îmi place să socializez şi să fac cunoştinţă cu persoane noi. Iubesc mereu să îmi ocup timpul cu ceva. Dorinţa mea de a schimba ceva în ţara care trăiesc m-a făcut să mă implic în activităţile TohaTEEN Hub şi să devin voluntar. Sunt sigură că împreună cu această echipă minunată de voluntari, vom reuşi să creăm o societate mai bună" res}}.
				</h4>
			</div>

			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/LorenaSvistal.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Lorena Svistal</h2>
				<h4>{{lang "Ma numesc Svistal Lorena, am 17 ani și sunt eleva la Liceul Teoretic 'Gaudeamus'. Am venit la acest club de voluntariat pentru a însuși noi lucruri, sa acumulez noi experiențe, sa realizez lucruri frumoase pentru societate.Îndeosebi îmi place sa fiu deschisă cu oamenii, sa comunic pentru ca sunt o persoana prietenoasa și sociabilă.Ma bucur ca fac parte din grupul de voluntari și sunt sigura ca vom reuși împreuna sa facem un sat și o societate mai buna" res}}.
				</h4>
			</div>
			<div class="volunteer-img col-4 col-sm-2 col-lg-1">
				<img src="/img/volunteers/IlieDobos.jpg">
			</div>
			<div class="volunteer-info col-8 col-sm-4 col-lg-5 px-2 px-md-3">
				<h2>Ilie Dobos</h2>
				<h4>{{lang "Mă numesc Ilie am 15 ani și sunt voluntar Tohateen hub din vara anului 2018. La inceput nu înţelegeam cu ce se ocupă acest hub , însă după câteva evenimente la care am fost mi s-a propus sa devin voluntar explicându-mi cu ce îmi va fi de folos. De atunci sunt voluntar şi încerc să particip la mai multe evenimente şi unele chiar sa le organizez eu" res}}.
				</h4>
			</div>

			<div class="vol-apply col-12 text-center my-5">
				<h2>{{lang "Become a part of our team!" res}}</h2>
				<a onclick="$('#RegisterModal').modal('show')">{{lang "Apply for volunteering" res}}</a>
			</div>

		</div>

	</div>
</main>

<script>
	var lockedNavbar = 1;

	$("#RegisterForm").on("submit", (e) => {
		e.preventDefault();
		$('#RegisterModal').modal('hide');
		$.post('/about-us/register-volunteer',
			$('#RegisterForm').serialize(),
			function (message, status, xhr) {
				successAlert(message, 8);
			});
	})

</script>