<link href="/css/events.css" rel="stylesheet">
<div>
	<div class="postsContainer">
		<div class="container" id="newsContainer">
			<div class="d-flex">
				<h1 class="top-header">News</h1>
			</div>

			{{#each news}}
			<div class="row my-4">
				<div class="col-lg-2">
					<figure>
						<a href="/news/{{id}}">
							<div class="overlay">
								<h2>read more</h2>
							</div>
							<img class="news-img" src="/get-image/{{thumbnailKey}}">
						</a>
					</figure>
				</div>
				<div class="col-lg-10">
					<div class="header">
						<a href="/news/{{id}}">{{lang this.title ../res}}</a>
						<h6>{{getDateDate date}} {{getDateMonth date}}</h6>
					</div>
					<div class="description">{{lang this.shortDescription ../res}}</div>
					<a class="readmore" href="/news/{{id}}">read more »</a>
				</div>
			</div>
			{{/each}}

		</div>
		<div class="container">
			<a href="#" id="loadmMoreButton" class="btn text-white" style="background-color:#4495E1">Load more</a>
		</div>
	</div>
</div>
<!-- Override navbar behaviour -->
<script>
	var lockedNavbar = 1;

	$(".navbar").css("transition", "none");
	$("#scrolledNavbar").toggleClass("scrolled-nav", true);

	let page = 1;

	let loadbtn = $("#loadmMoreButton");

	// Load more button
	loadbtn.on("click", (e) => {
		e.preventDefault();
		fetch(`/get-news/${page}/2`).then((response) => {
			return response.json();
		}).then((news) => {
			if (news.length == 0) $("#loadmMoreButton").remove();
			news.forEach((value) => {
				console.log(value);
				// Add the fetched data to a new news card
				$("#newsContainer").append(`<div class="row my-4">
		<div class="col-lg-2">
			<figure>
				<a href="/news/${value.id}">
					<div class="overlay">
						<h2>read more</h2>
					</div>
					<img class="news-img" src="../img/children.jpg">
				</a>
			</figure>
		</div>
		<div class="col-lg-10">
			<div class="header">
				<a href="/news/${value.id}">${value.title}</a>
				<h6>${value.date} ${value.month}, ${value.startTime}-${value.endTime}</h6>
			</div>
			<div class="description">${value.shortDescription}</div>
			<a class="readmore" href="/news/${value.id}">read more »</a>
		</div>
	</div>`);
			});
		});
		page++;
	});


</script>