<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="/css/event_news.css" rel="stylesheet">




{{#if event}}
<!-- Modal Event registration form, 
HIDDEN by default and shown
at the press of the register button -->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="RegisterForm" class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input name="name" type="text" id="registerForm-name" class="form-control validate">
                    <label for="registerForm-name">Your name</label>
                </div>
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input name="email" type="email" id="registerForm-email" class="form-control validate">
                    <label data-error="{{lang "please use name@domain" res}}" data-success="good!"
                        for="registerForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-phone prefix grey-text"></i>
                    <input name="phone" type="tel" name="number" id="registerForm-phone" class="form-control validate">
                    <label data-error="wrong" data-success="good!" for="registerForm-phone">Your phone number</label>
                </div>

                <input type="text" name="eventName" value="{{event.title}}" class="d-none">
                <input type="text" name="eventId" value="{{event.id}}" class="d-none">
            </form>
            <div class="modal-footer d-flex justify-content-center">
                <button id="RegisterFormSubmit" class="btn btn-deep-orange">{{lang "Sign up" res}}</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-proj parallax-window">
    <img src="/get-image/{{event.backgroundKey}}" style="display:none;width:100%;visibility:hidden;" />
    <!--div style="flex:1">
    </div-->
    <!--div class="d-flex bg-thumb">
        <img class="card-img-top mt-auto" style="max-height:250px;height:100%;width:auto"
            src="/get-image/{{event.thumbnailKey}}" alt="Card image cap">
    </div-->
    <h1 class="text-uppercase proj-title text-center px-1">{{lang event.title res}}</h1>
</div>
<script>
    $("#RegisterFormSubmit").on("click", (e) => {
        e.preventDefault();
        $('#RegisterModal').modal('hide');
        $.post('/events/register',
            $('#RegisterForm').serialize(),
            function (data, status, xhr) {
                successAlert(data,8);
            });
    });



    var windowHeight = $(window).height();
    var titleHeight = $(".proj-title").outerHeight();

    $('.parallax-window').parallax({ imageSrc: "/get-image/{{news.backgroundKey}}" });

    $(window).on("scroll", () => {
        if (document.body.scrollTop+50 >= windowHeight*0.3-titleHeight) {
            $(".proj-title").toggleClass("fixedS", true);
            $(".bg-proj").toggleClass("fixedS", true);
        } else {
            $(".proj-title").toggleClass("fixedS", false);
            $(".bg-proj").toggleClass("fixedS", false);
            //$(".bg-proj").css("align-items","center");
        }
    });


</script>
<div class="container-fluid bg-white">
    <div class="container" id="projectDescContainer">
        <div class="jumbotron" style="height:fit-content;">
            <div id="EventDescription" style="border:0 !important;"></div>

            <div class="d-flex justify-content-center w-100">
                <a data-toggle="modal" data-target="#RegisterModal" class="btn btn-secondary btn-lg">{{lang "Sign up" res}}</a>
            </div>

            <hr class="mt-2 mb-4">
            <p id="description" class="lead">{{lang event.location res}}</p>
        </div>
    </div>
</div>
{{else}}
<div class="container mt-5 pt-5">
    <h1>Event does not exist</h1>
    <a class="btn btn-primary" href="/">Return To Home Page</a>
</div>
{{/if}}


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var lockedNavbar = 1;

    var quill = new Quill("#EventDescription", {
        modules: {
            toolbar: false
        },
        theme: 'snow'
    });

    const contents = {{{ event.description }}}
    console.log(contents)

    quill.setContents(contents.ops);

    quill.enable(false);
</script>