<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
    .bg-proj {
        max-height: 40vh;
        margin-top: 65px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: center;

    }

    .jumbotron {
        box-shadow: none;
        padding-top: 60px;
        margin: 0;
    }

    .bg-thumb {

        height: 30vmin;
        border-radius: 2%;

        /*margin-right: 40%;*/
        /*z-index: 1;*/

    }

    .ql-editor {
        padding: 0;
    }

    #projectDescContainer {
        min-height: 60vh;
    }

    .proj-title {
        color: black;
        font-size: 3vmax;
        font-weight: 600;
        background-color: white;
        margin-bottom: 0;

    }

    @media screen and (max-width: 768px) {
        .bg-proj {
            margin-top: 50px;
        }

        .jumbotron {
            padding-top: 20px;
        }
    }

    @media screen and (max-width: 576px) {
        #projectDescContainer {
            padding: 0;
        }
        .proj-title{
            font-size:7.5vmin;
        }


    }

    .bg-nav {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }

    .lead {
        font-size: 1em;
    }
</style>

{{#if event}}

<div class="bg-proj parallax-window">
    <!--style="background-image: url(/get-image/{{event.backgroundKey}});"-->
    <img src="/get-image/{{event.backgroundKey}}" style="width:100%;visibility:hidden;" />
    <!--div style="flex:1">
    </div-->
    <div class="d-flex bg-thumb">
        <img class="card-img-top mt-auto" style="max-height:250px;height:100%;width:auto"
            src="/get-image/{{event.thumbnailKey}}" alt="Card image cap">
    </div>
    <h1 class="proj-title text-center rounded-top px-1">{{lang event.title res}}</h1>
</div>
<script>
$('.parallax-window').parallax({ imageSrc: "/get-image/{{event.backgroundKey}}" });
</script>
<div class="container-fluid bg-white">
    <div class="container" id="projectDescContainer">
        <div class="jumbotron" style="height:fit-content;">

            <!--p id="description" class="lead">{{lang event.shortDescription res}}</p>
        <div class="my-2"></div>
        <hr class="mt-2 mb-4"-->
            <div id="EventDescription" style="border:0 !important;"></div>
            <hr class="mt-2 mb-4">
            <p id="description" class="lead">{{lang event.location res}}</p>
        </div>
    </div>
</div>
{{else}}
<div class="container mt-5 pt-5">
    <h1>Event does not exist</h1>
    <a class="btn btn-primary" href="/">Return To Home Page</a>
</div>
{{/if}}


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var lockedNavbar = 1;

    $(".navbar").css("transition", "none");
    $("#scrolledNavbar").toggleClass("scrolled-nav", true);

    //$(".navbar").css("background-color","rgb(246, 246, 246)");

    var quill = new Quill("#EventDescription", {
        modules: {
            toolbar: false
        },
        theme: 'snow'
    });

    const contents = {{{ event.description }}}
    console.log(contents)

    quill.setContents(contents.ops);

    quill.enable(false);
</script>