<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="/css/event_news.css" rel="stylesheet">

{{#if event}}

<div class="bg-proj parallax-window">
    <!--style="background-image: url(/get-image/{{event.backgroundKey}});"-->
    <img src="/get-image/{{event.backgroundKey}}" style="display:none;width:100%;visibility:hidden;" />
    <!--div style="flex:1">
    </div-->
    <!--div class="d-flex bg-thumb">
        <img class="card-img-top mt-auto" style="max-height:250px;height:100%;width:auto"
            src="/get-image/{{event.thumbnailKey}}" alt="Card image cap">
    </div-->
    <h1 class="text-uppercase proj-title text-center rounded-top px-1">{{lang event.title res}}</h1>
</div>
<script>
    $('.parallax-window').parallax({ imageSrc: "/get-image/{{event.backgroundKey}}" });

    $(window).on("scroll", () => {
        if (document.body.scrollTop > 150) {
            $(".proj-title").toggleClass("fixedS", true);
            $(".bg-proj").toggleClass("fixedS", true);
        } else {
            $(".proj-title").toggleClass("fixedS", false);
            $(".bg-proj").toggleClass("fixedS", false);
            //$(".bg-proj").css("align-items","center");
        }
    });


</script>
<div class="container-fluid bg-white">
    <div class="container" id="projectDescContainer">
        <div class="jumbotron" style="height:fit-content;">

            <!--p id="description" class="lead">{{lang event.shortDescription res}}</p>
        <div class="my-2"></div>
        <hr class="mt-2 mb-4"-->
            <div id="EventDescription" style="border:0 !important;"></div>
            <hr class="mt-2 mb-4">
            <p id="description" class="lead">{{lang event.location res}}</p>
        </div>
    </div>
</div>
{{else}}
<div class="container mt-5 pt-5">
    <h1>Event does not exist</h1>
    <a class="btn btn-primary" href="/">Return To Home Page</a>
</div>
{{/if}}


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var lockedNavbar = 1;

    //$(".navbar").css("background-color","rgb(246, 246, 246)");

    var quill = new Quill("#EventDescription", {
        modules: {
            toolbar: false
        },
        theme: 'snow'
    });

    const contents = {{{ event.description }}}
    console.log(contents)

    quill.setContents(contents.ops);

    quill.enable(false);
</script>