<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="/css/event_news.css" rel="stylesheet">
{{#if news}}

<div class="bg-proj parallax-window">
    <div class="bg-wrapper">
        <h1 class="proj-title text-uppercase sticky text-center px-1">{{lang news.title res}}</h1>
    </div>
</div>
<script>
    var windowHeight = $(window).height();
    var titleHeight = $(".proj-title").outerHeight();

    $('.parallax-window').parallax({ imageSrc: "/get-image/{{news.backgroundKey}}" });

    $(window).on("scroll", () => {
        $(".proj-title").toggleClass("fixedS", (document.body.scrollTop + 50 >= windowHeight * 0.3 - titleHeight));
    });

</script>
<div class="container-fluid bg-white">
    <div class="container container-small" id="projectDescContainer">
        <div class="jumbotron" style="height:fit-content;">
            <div id="EventDescription" style="border:0 !important;"></div>
            <hr class="mt-2 mb-4">
            <p id="description" class="lead">{{parseDate news.date res}}</p>
        </div>
    </div>
</div>
{{else}}
<div class="container mt-5 pt-5">
    <h1>News does not exist</h1>
    <a class="btn btn-primary" href="/">Return To Home Page</a>
</div>
{{/if}}


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var lockedNavbar = 1;

    $(".navbar").css("transition", "none");
    $("#scrolledNavbar").toggleClass("scrolled-nav", true);

    var quill = new Quill("#EventDescription", {
        modules: {
            toolbar: false
        },
        theme: 'snow'
    });

    const contents = {{{ news.description }}}

    quill.setContents(contents.ops);

    quill.enable(false);
</script>